<%- partial('_partial/bg-cover') %>

<main class="content">

    <% if (theme.postCalendar) { %>
    <%- partial('_widget/post-calendar') %>
    <% } %>

    <%
    /**
     * hashCode function.
     *
     * @param str str
     * @returns {number}
     */

     var colorArr = ['linear-gradient(135deg, #667eea 0%, #764ba2 100%)','linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%)', 'linear-gradient(to right, #6a11cb 0%, #2575fc 100%)','linear-gradient(to top, #c471f5 0%, #fa71cd 100%)', 'linear-gradient(to top, #48c6ef 0%, #6f86d6 100%)','linear-gradient(to top, #0ba360 0%, #3cba92 100%)', 'linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%)', 'linear-gradient(to right, #ff758c 0%, #ff7eb3 100%)','linear-gradient(to top, #f77062 0%, #fe5196 100%)','linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%)', 'linear-gradient(135deg, #667eea 0%, #764ba2 100%)', 'linear-gradient(to right, #6a11cb 0%, #2575fc 100%)'];
var colorCount = colorArr.length;
    var hashCode = function (str) {
        if (!str && str.length === 0) {
            return 0;
        }

        var hash = 0;
        for (var i = 0, len = str.length; i < len; i++) {
            hash = ((hash << 5) - hash) + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    };

    // init year and month variable.
    var year = '1970';
    var month = '1970-01';

    // post feature image.
    var featureimg = '/medias/featureimages/0.jpg';
    var featureImages = theme.featureImages;
    var i = 0;
    %>

    <div id="cd-timeline" class="container">
        <% page.posts.each(function(post) { %>
        <div class="cd-timeline-block">

            <%# year. %>
            <% if (date(post.date, 'YYYY') != year) { %>
            <% year = date(post.date, 'YYYY'); %>
            <div class="cd-timeline-img year" data-aos="zoom-in-up">
                <a href="<%- url_for('/archives/' + year) %>"><%- year %></a>
            </div>
            <% } %>

            <%# month. %>
            <% if (date(post.date, 'YYYY-MM') != month) { %>
            <%
                month = date(post.date, 'YYYY-MM');
                var m = date(post.date, 'MM')
            %>
            <div class="cd-timeline-img month" data-aos="zoom-in-up">
                <a href="<%- url_for('/archives/' + year + '/' + m) %>"><%- m %></a>
            </div>
            <% } %>

            <%# every day posts. %>
            <div class="cd-timeline-img day" data-aos="zoom-in-up">
                <span><%- date(post.date, 'YYYY-MM-DD').substring(8, 10) %></span>
            </div>
            <article class="cd-timeline-content" data-aos="fade-up">
                <%
                    i++;
                    var color = i >= colorCount ? colorArr[Math.abs(hashCode(post.title) % colorCount)]
                            : colorArr[i - 1];
                %>
                <div class="article col s12 m6 overflow-policy" style="background-image: <%- color %>;">
                        <div class="title"><%- post.title %></div>
                        <p class="summary">
                            <% if (post.summary && post.summary.length > 0) { %>
                            <%- post.summary %>
                            <% } else { %>
                            <%- strip_html(post.content).substring(0, 120) %>
                            <% } %>
                        </p>
                        <a class="cd-read-more" href="<%- url_for(post.path) %>">阅读全文</a>
                </div>
            </article>
        </div>
        <% }); %>
    </div>

</main>

<% if (page.total > 1) { %>
<%- partial('_partial/paging') %>
<% } %>